*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto , sans-serif;
}
body{
    background-color: lavenderblush;
}
h1{
    text-align: center;
    margin-top: 1rem;
}
#wrapper{
    display: flex;
    width: 100%;

}
.text-container{
    width: 35%;
    margin: 8rem 6rem;
    /* border-right: 2px solid rgb(0, 0, 0); */
}
.text-container textarea{
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.btn{
    margin: 2rem 0rem;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(100, 97, 97);
    color: aliceblue;
    border: 0;
    cursor: pointer;
    
}
.notes{
    margin-top: 8rem;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    transition: all 0.5s;


}
.note{
    width: 250px;
    height: 200px;
    position: relative;
    background-color: greenyellow;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.5s;
    animation: example 0.5s linear;

    
 
}
.para {
    font-size: 16px;
  
    word-break: break-all;
    outline: none;


}
.close{
    cursor: pointer;
}

#bgColor , #textColor{
    width: 60px;
    height: 35px;
    vertical-align: middle; 
    margin-bottom: 0.5rem;

}
#textColor {
   margin-top: 1rem;
}
.color-container p{
    font-size: 14px;
    font-weight: 500;
    color: rgb(109, 104, 104);
}

.left{
    display: flex;
    align-items: center;
    gap:5rem;
}
.edit-note{
    position: absolute;
    right: 2%;
    top: 19%;
    cursor: pointer;
    font-size: 28px;
    font-weight: 500;

}
.bold-icon{
    position: absolute;
    right: 4%;
    top: 35%;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}
.italic-icon{
    position: absolute;
    right: 4%;
    top: 50%;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}
.underline-icon{
    position: absolute;
    right: 4%;
    top: 65%;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}
.msg-edit{
    position: absolute;
    bottom: 1%;
    right: 4%;
    font-style: italic;
    font-weight: normal;
}

@keyframes example {
     from{
       transform: translateY(-100px);
       opacity: 0;
     }
     to{
        transform: translateY(0px);
        opacity: 1;
     }
  }